@import '../abstracts/variables';
@import '../abstracts/mixin';

.footer {
    text-align: center;
    padding: 35px 38px 47px;
    background: #000000;

    @media (min-width: $tablet) {
        padding: 57px 100px;
    }

    @media (min-width: $desktop) {
        padding-left: 300px;
        padding-right: 300px;
    }
}

.footer__title--white {
    @include title-text(#fff);
    margin-bottom: 8px;

    @media (min-width: $tablet) {
        @include title-text-tablet(#fff);
    }
}

.footer__description {
    color: $footer-color;
    font-size: 12px;
    line-height: 20px;

    @media (min-width: $tablet) {
        font-size: 16px;
        line-height: 26px;
    }
}

.footer__flex-icon {
    @include flex(row, center);
    gap: 6px;
    margin-top: 37px;
    margin-bottom: 34px;
}

.footer__contacts {
    @include flex(column);
    line-height: 24px;
    font-size: 14px;

    a,
    adress {
        color: $footer-color;
    }

    @media (min-width: $tablet) {
        font-size: 16px;
        line-height: 26px;

        @include flex (row, center);
        gap: 20px;

        adress {
            position: relative;

            &::after {
                @include psevdo-element;
                right: -15px;
            }
        }

        a:last-of-type {
            position: relative;

            &::before {
                @include psevdo-element;
                left: -15px;
            }
        }

    }

}