@import './variables';
@import './extend';

body,
ul,
li,
a,
span {
    padding: 0;
    margin: 0;
}

.header {
    width: 100%;
    height: 110px;
    background: #27262A;
}

.header__container {
    @extend %flex-container;

    .header__logo {
            text-decoration: none;
    
            span {
                color: $primary-color;
                font-size: 24px;
                text-transform: uppercase;
    
                &:hover {
                    color: $hover-color;
                }
            }
        }
    .btn--small {
        padding: 11px 20px;
        font-size: 16px;
    }

}

ul {
    @extend %flex-container;
    color: $primary-color;
    font-size: 16px;

    li {
       font-size: 16px;
        list-style: none;
    }

    a {
        text-decoration: none;
        color: $primary-color;
        
        &:hover {
            color: $hover-color;
        }
    }
}
.btn {
    border-radius: 40px;
    background: $primary-color;
    color: $hover-color;


    &:hover {
        background: $hover-color;
        color: $primary-color;
    }

}